@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h1{
    font-size: 2.4rem;
}

p {
    font-size: 1rem;
}

a{
    color: theme('colors.primary')
}

blockquote span {
    font-size: 0.8rem;
}

a:hover{
    color: #0e9ad6;
}

input{
    padding-left: 10px;
}

.dark-mode{
    color: #FFFFFF;
}

.blur-box {
    background-color: #FFF;
    box-shadow: 0 0 5px 10px #FFF;
}