@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h1{
    font-size: 2.4rem;
}

p {
    font-size: 1rem;
}

blockquote span {
    font-size: 0.8rem;
}